.social-list {
  margin-top: 16px;
  align-items: center;
  justify-content: center;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: $icon-color;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;

  &:not(:last-child) {
    margin-right: 10px;
  }

  .footer & {
    fill: $white-color;
  }
}

.social.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;

  &:hover,
  &:focus {
    background-color: $accent-color;
    outline-color: $accent-color;
  }

  &:hover .social-icon,
  &:focus .social-icon {
    fill: $white-color;
    outline-color: $accent-color;
  }

  .footer & {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .footer &:hover,
  .footer &:focus {
    background-color: $accent-color;
    outline-color: $accent-color;
  }
}

.footer .social-list {
  display: inline-flex;
  align-items: baseline;
  flex-wrap: nowrap;
  margin-top: 20px;
}

.footer .social-list > li:not(:last-child) {
  margin-right: 10px;
}

.footer .social-list-wrap {
  margin-right: 93px;
}
